    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container">
            <a class="navbar-brand me-5" href="#">
                <img src="assets/logo2.png" alt="Logo" width="70rem">
            </a>
        <!-- Toggler for smaller screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <!-- You can customize the toggler icon here -->
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
            <li class="me-3 nav-item">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="me-3 nav-item">
                <a class="nav-link" href="#servicios">Servicios</a>
            </li>
            <!-- <li class="me-3 nav-item">
                <a class="nav-link" href="#">Profesionales</a>
            </li> -->
            <li class="me-3 nav-item">
                <a class="nav-link" href="agendarHora.html">Agendar hora</a>
            </li>
            <li class="me-3 nav-item">
                <a class="nav-link" href="#ubicacion">Ubicación</a>
            </li>
            <!-- <li class="me-3 nav-item">
                <a class="nav-link" href="#">Contacto</a>
            </li>
            <li class="me-3 nav-item">
                <a class="nav-link" href="#">Nosotros</a>
            </li> -->
            <li class="me-3 nav-item">
                <a class="nav-link" href="registro.html">Registro</a>
            </li>
            <li class="me-3 nav-item">
                <a class="nav-link" href="ingreso.html">Ingreso</a>
            </li>
            <li class="me-3 nav-item d-none" id="logoutItem">
                <a class="nav-link" href="#" id="logoutLink">Salir</a>
            </li>
            <li class="me-3 nav-item">
                <span class="navbar-text ms-auto" id="welcomeMessage"></span>
            </li>
            </ul>
    
        </div>
        </div>
    </nav>