<section id="ubicacion">
    <div class="container py-3 ubicacion">
        <div class="row">
            <div class="col-md-12 mb-4">
                <h2 class="text-center">Ubicación</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2685.9168433465506!2d-72.59648511830366!3d-38.7570913156911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9614d1d2f7ec4725%3A0xbaee159ffe7bdd0d!2sCentro%20m%C3%A9dico%20ekos!5e1!3m2!1sen!2scl!4v1730596293030!5m2!1sen!2scl" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <p>Estamos ubicados en la comuna de Padre Las Casas. Nuestra dirección es Francisco Pleiteado 712, Oficina 201 - Piso 2.</p>
                <p>Contamos con estacionamiento gratuito para nuestros pacientes y estamos ubicados a pasos de la Biblioteca Municipal.</p>
                <p>Si tienes alguna duda sobre cómo llegar a nuestra clínica, no dudes en contactarnos.</p>
            </div>
        </div>
    </div>
</section>