<section id="servicios" class="mb-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4 mt-5 d-none d-md-block">
                <div class="card mb-4 ">
                    <img src="../../../assets/icon1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Medicina General</h5>
                        <p class="card-text">Servicios de atención primaria personalizados para tu bienestar, con prevención, diagnósticos y tratamientos efectivos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5 d-none d-md-block">
                <div class="card">
                    <img src="../../../assets/icon3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Kinesiología</h5>
                        <p class="card-text">Programas personalizados para mejorar la salud física, movilidad y aliviar el dolor mediante rehabilitación y bienestar.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5 d-none d-md-block">
                <div class="card">
                    <img src="../../../assets/icon4.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Radiología</h5>
                        <p class="card-text">Servicios avanzados de imagenología para diagnósticos precisos y planificación de tratamientos con tecnología de vanguardia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5 d-none d-md-block">
                <div class="card">
                    <img src="../../../assets/icon2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Obstetricia</h5>
                        <p class="card-text">Atención integral y compasiva para futuras madres, desde controles prenatales hasta el parto y el posparto.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5 d-none d-md-block">
                <div class="card">
                    <img src="../../../assets/iconoFono.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Fonoaudiología</h5>
                        <p class="card-text">Terapias especializadas para mejorar la comunicación y la salud auditiva, adaptadas a tus necesidades</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5 d-none d-md-block">
                <div class="card">
                    <img src="../../../assets/icon6.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title  text-center">Odontología</h5>
                        <p class="card-text">Servicios dentales profesionales enfocados en la salud oral y estética, utilizando las últimas técnicas y tecnologías.
                        </p>
                        <!-- <a href="#" class="btn btn-primary">Agendar hora</a> -->
                    </div>
                </div>
            </div>
            <!-- ----------CELLPHONE SIZE--------------------------------- -->
            <div class="col-md-4 mt-2">
                <div class="card mb-4 d-flex flex-row flex-md-column">
                    <img src="assets/icon1.png" class="card-img-left" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center text-md-start">Medicina General</h5>
                        <p class="card-text">Servicios de atención primaria personalizados para tu bienestar, con prevención, diagnósticos y tratamientos efectivos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="card mb-4 d-flex flex-row flex-md-column">
                    <img src="assets/icon3.png" class="card-img-left" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center text-md-start">Kinesiología</h5>
                        <p class="card-text">Programas personalizados para mejorar la salud física, movilidad y aliviar el dolor mediante rehabilitación y bienestar.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="card mb-4 d-flex flex-row flex-md-column">
                    <img src="assets/icon4.png" class="card-img-left" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center text-md-start">Radiología</h5>
                        <p class="card-text">Servicios avanzados de imagenología para diagnósticos precisos y planificación de tratamientos con tecnología de vanguardia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="card mb-4 d-flex flex-row flex-md-column">
                    <img src="assets/icon2.png" class="card-img-left" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center text-md-start">Obstetricia</h5>
                        <p class="card-text">Atención integral y compasiva para futuras madres, desde controles prenatales hasta el parto y el posparto.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="card mb-4 d-flex flex-row flex-md-column">
                    <img src="assets/iconoFono.png" class="card-img-left" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center text-md-start">Fonoaudiología</h5>
                        <p class="card-text">Terapias especializadas para mejorar la comunicación y la salud auditiva, adaptadas a tus necesidades</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="card mb-4 d-flex flex-row flex-md-column">
                    <img src="assets/icon6.png" class="card-img-left" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center text-md-start">Odontología</h5>
                        <p class="card-text">Servicios dentales profesionales enfocados en la salud oral y estética, utilizando las últimas técnicas y tecnologías.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>