<section id="conocenos" class="mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 background-image">
                <div class="left-side">
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="right-side">
                    <h2>Sobre nosotros</h2>
                    <p>
                      Somos un centro médico fundado por un grupo de profesionales de la salud con más de 30 años de experiencia en diversas especialidades médicas. Nuestro compromiso es proporcionar atención médica de alta calidad, centrada en el paciente.
                    </p>
                    <p>
                      Creemos que cada paciente es único y merece un enfoque personalizado. Nos esforzamos por crear un ambiente acogedor y seguro donde te sientas escuchado.
                    </p>
                    <p>
                      Nuestro objetivo es ser un referente en atención médica, destacándonos por nuestra ética profesional, empatía y dedicación. Estamos comprometidos con la formación continua de nuestro personal y la implementación de prácticas innovadoras que nos permitan ofrecer un servicio de excelencia.
                    </p>
                    <p>
                      Gracias por confiar en nosotros. Estamos aquí para acompañarte en cada paso de tu camino hacia una mejor salud.
                    </p>
                  </div>
            </div>
        </div>
    </div>
</section>