<section id="conocenos" class="mt-5 mb-5">
    <div class="container">
        <div class="row">
            <h2 class="text-center mb-4">Sobre nosotros</h2>
            <div class="col-12 col-md-6 background-image">
                <div class="left-side">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="right-side">
                    <p>
                      Somos un centro médico fundado por un grupo de profesionales de la salud con más de 30 años de experiencia en diversas especialidades médicas.
                    </p>
                    <p class="d-none d-md-block">
                        Nuestro compromiso es proporcionar atención médica de alta calidad, centrada en el paciente.
                    </p>
                    <p class="d-none d-md-block">
                      Creemos que cada paciente es único y merece un enfoque personalizado. Nos esforzamos por crear un ambiente acogedor y seguro donde te sientas escuchado.
                    </p>
                    <p class="d-none d-md-block">
                      Gracias por confiar en nosotros. Estamos aquí para acompañarte en cada paso de tu camino hacia una mejor salud.
                    </p>
                  </div>
            </div>
        </div>
    </div>
</section>