<header>
    <!-- Hero section -->
    <div class="hero d-none d-md-block">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-md-6 d-none d-md-flex flex-column justify-content-center left-section">
                    <h2 class="text-white">Comprometidos con tu Bienestar...</h2>
                    <p  id="texto-hero" class="text-white">Ekos se compromete a entregarte un trato humano y una atención de excelencia con profesionales dedicados sólo para tí.</p>
                    <a id="btn-hero" href="/login" class="btn btn-info">Agenda tu hora aquí</a>
                </div>
                <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center right-section">
                    <!-- Right section content -->
                </div>
            </div>
        </div>
    </div>
    <!-- CELLPHONE -->
    <div class="hero-cellphone d-md-none">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <!-- CELLPHONE SIZE -->
                <div class="d-md-none d-flex align-items-center justify-content-center right-section-celular">
                    <a id="btn-hero-celular" href="/login" class="btn btn-info">Agenda tu hora aquí</a>
                </div>
            </div>
        </div>
    </div>
</header>