<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ekos</title>
</head>

<body>
    <!-- Navbar -->
    <app-navbar></app-navbar>
    <h1 class="text-center mt-5">Bienvenido a tu perfil {{user.username}}!</h1>
    <main>
        <section id="profile" class="py-5">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <button class="btn btn-primary w-100" (click)="setActiveCard('modificar')">Modificar Perfil</button>

                      <form (ngSubmit)="onUpdateProfile()" #profileForm="ngForm" id="profileForm" *ngIf="activeCard === 'modificar'">
                        <div class="mb-3">
                          <label for="nombre" class="form-label">Nombre Completo</label>
                          <input name="username" #username="ngModel" [(ngModel)]="user.username" type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre completo" required minlength="3" readonly>
                          <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
                            <small *ngIf="username.errors?.['required']">El nombre completo es obligatorio.</small>
                            <small *ngIf="username.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</small>
                          </div>
                        </div>
                        <div class="mb-3">
                          <label for="email" class="form-label">Correo Electrónico</label>
                          <input name="email" #email="ngModel" [(ngModel)]="user.email" type="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico" required appEmailValidator>
                          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                            <small *ngIf="email.errors?.['required']">El correo electrónico es obligatorio.</small>
                            <small *ngIf="email.errors?.['email']">Ingresa un correo electrónico válido.</small>
                          </div>
                        </div>
                        <div class="mb-3">
                          <label for="birthday" class="form-label">Fecha de Nacimiento</label>
                          <input name="birthday" #birthday="ngModel" [(ngModel)]="user.birthday" type="date" class="form-control" id="birthday" required appAgeValidator>
                          <div *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)" class="text-danger">
                            <small *ngIf="birthday.errors?.['required']">La fecha de nacimiento es obligatoria.</small>
                            <small *ngIf="birthday.errors?.['underage']">Debes tener al menos 13 años para registrarte.</small>
                          </div>
                        </div>
                        <div class="mb-3">
                          <label for="password" class="form-label">Contraseña</label>
                          <input name="password" #password="ngModel" [(ngModel)]="user.password" type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña" required appPasswordStrength>
                          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                            <small *ngIf="password.errors?.['required']">El password es obligatorio.</small>
                            <small *ngIf="password.errors?.['noNumber']">El password debe contener al menos un número.</small>
                            <small *ngIf="password.errors?.['noUpper']">El password debe contener al menos una mayúscula.</small>
                            <small *ngIf="password.errors?.['noLower']">El password debe contener al menos una minúscula.</small>
                            <small *ngIf="password.errors?.['noSpecial']">El password debe contener al menos un carácter especial.</small>
                            <small *ngIf="password.errors?.['invalidLength']">El password debe contener entre 8 y 20 caracteres.</small>
                          </div>
                        </div>
                        <div class="mb-3">
                          <label for="confirm-password" class="form-label">Confirmar Contraseña</label>
                          <input name="confirmPassword" [(ngModel)]="confirmPassword" type="password" class="form-control" id="confirm-password" placeholder="Confirma tu contraseña" required #confirmPasswordModel="ngModel">
                          <div *ngIf="passwordMismatch && (confirmPasswordModel.dirty || confirmPasswordModel.touched)" class="text-danger">
                            <small>Las contraseñas no coinciden.</small>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100" [disabled]="profileForm.invalid || passwordMismatch">Actualizar Perfil</button>
                        <!-- Feedback Messages -->
                        <div *ngIf="updateFailed" class="alert alert-danger mt-3">
                          Error al actualizar el perfil. Por favor, inténtalo de nuevo.
                        </div>
                        <div *ngIf="updateSuccess" class="alert alert-success mt-3">
                          Perfil actualizado con éxito.
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3" *ngIf="user.role === 'patient'">
                  <div class="card">
                      <div class="card-body">
                          <button class="btn btn-primary w-100" (click)="setActiveCard('agendar')">Agendar Hora</button>
                          <form id="agendarForm" (ngSubmit)="scheduleHour(agendarForm)" #agendarForm="ngForm" *ngIf="activeCard === 'agendar'">
                              <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre Completo</label>
                                <input class="mt-5" name="username" #username="ngModel" [(ngModel)]="user.username" type="text" class="form-control" id="nombre2" placeholder="Ingresa tu nombre completo" required minlength="3" readonly>
                              </div>
                              <div class="mb-3">
                                  <label for="email" class="form-label">Correo Electrónico</label>
                                  <input class="mt-5" name="email" #email="ngModel" [(ngModel)]="user.email" type="email" class="form-control" id="email2" required minlength="3" readonly>
                                </div>
                              <!-- <div class="mb-3">
                                  <label for="telefono" class="form-label">Teléfono</label>
                                  <input type="tel" class="form-control" id="telefono" placeholder="Ingresa tu número de teléfono" required>
                              </div> -->
                              <!-- <div class="mb-3">
                                  <label for="servicio" class="form-label">Servicio</label>
                                  <select class="form-select" id="servicio" required>
                                      <option value="" disabled selected>Selecciona un servicio</option>
                                      <option value="Medicina General">Medicina General</option>
                                      <option value="Kinesiología">Kinesiología</option>
                                      <option value="Radiología">Radiología</option>
                                      <option value="Obstetricia">Obstetricia</option>
                                      <option value="Fonoaudiología">Fonoaudiología</option>
                                      <option value="Odontología">Odontología</option>
                                  </select>
                              </div> -->
                              <div class="mb-3">
                                <label for="doctor" class="form-label">Doctor</label>
                                <select class="form-select" id="doctor" required [(ngModel)]="selectedDoctor" name="doctor" *ngIf="doctors.length > 0">
                                  <option value="" disabled selected>Selecciona un doctor</option>
                                  <option *ngFor="let doctor of doctors" [ngValue]="doctor">{{ doctor.username }} ({{ doctor.email }})</option>
                                </select>
                                <div *ngIf="doctors.length === 0" class="text-danger">
                                  <small>Mostrando doctores...</small>
                                </div>
                            </div>
                              <div class="mb-3">
                                  <label for="fecha" class="form-label">Fecha</label>
                                  <input type="date" class="form-control" id="fecha" name="fecha" required>
                              </div>
                              <div class="mb-3">
                                  <label for="hora" class="form-label">Hora</label>
                                  <input type="time" class="form-control" id="hora" name="hora" required>
                              </div>
                              <button type="submit" class="btn btn-primary w-100">Agendar Hora</button>
                          </form>
                      </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3" *ngIf="user.role === 'patient'">
                  <div class="card mb-3">
                    <div class="card-body">
                      <button class="btn btn-primary w-100" (click)="setActiveCard('verHoras')">Ver Horas Agendadas</button>
                      <div *ngIf="activeCard === 'verHoras'">
                       <!-- Ver Horas Agendadas Content -->
                       <ul class="list-group">
                        <li class="list-group-item" *ngFor="let hour of hours">
                          {{ hour.date }} {{ hour.time }} con {{ hour.doctor }}
                          <button class="btn btn-danger btn-sm float-end ms-2" (click)="deleteHour(hour)">Cancelar</button>
                          <button class="btn btn-warning btn-sm float-end" (click)="editHour(hour.id, hour)">Editar</button>
                        </li>
                      </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </main>
    <app-footer></app-footer>
</body>
</html>